{% extends "base.html" %}

{% block title%}Calculator{% endblock %}

{% block content %}

  {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
  		  <div class="alert alert-warning alert-dismissible" role="alert">
  		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  			{{message}}
  		  </div>
      {% endfor %}
	  {% endif %}
  {% endwith %}

<div class="container-fluid">
  <form method="POST" action="#">
    {{ equation_form.csrf_token }}
    {{ equation_form.equation.label }}   {{ equation_form.equation(size = 20) }}
    <!-- <p>Equation: </p> -->
    <!-- <p><input type="text" name="raw_equation"></p> -->
    <p><input type="submit" value = "submit" value=""></p>
  </form>
</div>

<div class="container.fluid">
  {% if equation %}
    <p>Your equation: {{ equation }}</p>
  {% endif %}
</div>

<div class="container.fluid">
  {% if var_form %}
    <form method="POST" action="#">
      {{var_form.hidden_tag()}}
      {% for var_entry_form in var_form.vars %}
        <p>
          {{ var_entry_form.hidden_tag() }}
          {{ var_entry_form.variable.label }}
          {{ var_entry_form.variable(size=20) }}
        </p>
      {% endfor %}
      <p><input type="submit" value = "submit" value=""></p>
    </form>
  {% endif %}
</div>

<div class="container.fluid">
  {% if (answer and unknown) %}
    <p>The unknown variable (represented by “ans” in the diagram) is: {{ unknown }}</p>
    <p>{{ unknown }} = {{ answer }}</p>
  {% endif %}
</div>

<div class="container.fluid">
  {% if diagram %}
    <img src="{{ diagram }}" alt="Equation Diagram">
  {% endif %}
</div>

<div class="container.fluid">
  {% if exception %}
    <h3>Something went wrong! Here's what could have happened:</h3>
    <ol>
      <li>The inputted equation is not formatted correctly (remember that <b>log base a of b</b> is written as <b>alogb</b> or <b>a log b</b>).</li>
      <li>More than one variable box is blank, or none are blank.</li>
      <li>Some operator(s) in the equation is not yet supported.</li>
      <li>An operation could be dividing by 0.</li>
      <li>An operation is 0^n where n is negative</li>
      <li>An operation is alogb where b is less than 1.</li>
      <li>An operation is alogb where a is 1.</li>
      <li>If it still doesn't work, then don't hesitate to contact us at <a href="mailto:jason.blank.qiu@gmail.com">jason.blank.qiu@gmail.com</a></li>
    </ol>
  {% endif %}
</div>

{% endblock %}
