# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac custom attributes file (Desktop Service Store)
.DS_Store

# PyCharm files
.idea/

# instance folder used for config parameters
/instance

# Virtual environment
/ConstraintCalc
/venv
/lib
pyvenv.cfg

# server-side scripts
*.sh

# sockets
*.socket
*.sock

# logs
*.log

# vim backup files
*.*~

# temporary file for executing the constraint system
/project/racket/TempConstraintSystem.rkt

# temporary file for the diagram
/project/static/diagram1.png
